.git
.DS_Store
.env*
!.env.example

.pnpm-store
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
playwright-report
test-results
*.tsbuildinfo

data
apps/server/data
steam-data
**/steam-data
sqlite.db
*.sqlite
*.sqlite-*
*.sqlite-shm
*.sqlite-wal

screenshots
backups
